<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="nav navbar-nav">
                    <li><a href="#/"><i class="fa-lg fa fa-list"></i></a></li>
                    <li><a href="#/"><i class="fa-lg fa fa-users"></i></a></li>
                    <li><a href="#/"><i class="fa-lg fa fa-pencil-square"></i></a></li>
                    <li><a href="#/"><i class="fa-lg fa fa-flag"></i></a></li>
                    <li><a href="#/"><i class="fa-lg fa fa-cog"></i></a></li>
                    <li><a href="#/"><i class="fa-lg fa fa-home"></i></a></li>
                    <li ng-if="showingChart" ng-click="toggleChart()"><a href="#/"><i class="fa-lg fa fa-pie-chart"></i></a></li>
                    <!-- <li ng-click="toggleChart()"><a href="#/map"><i class="fa-lg fa fa-smile-o"></i></a></li> -->
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <select class="form-control" id="select">
                        <option ng-repeat="cat in categories">{{ cat }}</option>
                    </select>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <svg version="1.1" id="map-layer" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 1000 500" enable-background="new 0 0 500 500" xml:space="preserve">
        <g ng-repeat="user in users" ng-if="getRandomInt(0, 1) === 1">
            <line ng-if="$index < users.length - 1" x1="{{ user.x }}" y1="{{ user.y }}" x2="{{ users[$index+1].x }}" y2="{{ users[$index+1].y }}" stroke="black"/>
        </g>
        <g ng-repeat="user in users">
            <path ng-repeat="path in getPiePath(user.data, user.x, user.y, 20)" d="{{ path }}" fill="{{ getRandomColor() }}" stroke-width="2" stroke-linejoin="round" />
            <circle cx="{{ user.x }}" cy="{{ user.y }}" r="10" fill="white" />
        </g>
    </svg>

</div>
